<div class="col-md-8 m-auto">
    <div class="card">
        <div class="card-header text-center">
            <h1>Descripción de La Carpeta</h1>
        </div>
        <div class="card-body">
            <div class="form-group">
                <input type="text" name="" class="form-control" value="{{folder_name}}" readonly> 
            </div>
            <div class="form-group">
                <input type="text" name="author" class="form-control" value="{{author}}" readonly> 
            </div>
            <div class="form-group">
                <input type="text" name="route" class="form-control" value="{{creation_date}}" readonly>
            </div>
            <div class="form-group">
                <input type="text" name="date" class="form-control" value="{{folder_accesslvl}}" readonly>
            </div>
            <div class="form-group">
                <input type="text" name="description" class="form-control" value="{{route}}" readonly>
            </div>
            <div class="text-center">
                <div class="form-group">
                    <a href="/api/folder/home" class="btn btn-primary "> Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>